body {
    font-family: 'Mont', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}

form {
    background-color: #016d54;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.input-group label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 16px;
    box-sizing: border-box;
}

.numeracion {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espacio entre los inputs */
}

.numeracion input {
    flex: 1; /* Para que ambos inputs tengan el mismo ancho */
}

.grade0 {
    width: 100%;
    height: 60px;
    font-size: 30px;
}

.indicadores {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.indicadores p {
    margin: 0;
    padding: 10px;
    background-color: #e0e0e0;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    text-align: center;
    font-size: 18px;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

a {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a:hover {
    background-color: darkred;
}

.oculto {
    display: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button-group .calcular {
    background-color: #007BFF;
    margin: 0 auto;
}

.button-group .agregar {
    background-color: #28a745;
}

.button-group .descargar {
    background-color: gray;
}

.button-group .quitar {
    background-color: #dc3545;
}

section a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ffc107;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

section a:hover {
    background-color: #e0a800;
}

/* Estilos para fieldset y legend */
fieldset {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #016d54;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #ffffff;
}
h1 {
    color: #333333;
    margin-bottom: 20px;
}

p {
    color: #555555;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: left;
}

th {
    background-color: #016d54;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}